<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/tailwindcss@1.2.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <form method="POST" action="">{% csrf_token %}
        text: <input type="text" name="target_url" value=""><br>
        <input type="submit" value="Submit">
    </form>
    <p> {% if shorten_url %}
        {{ shorten_url }}
        {% else %}
        {{ message|safe }}
        {% endif %}
    </p>



</body>

</html> -->


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/tailwindcss@1.2.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="h-screen overflow-hidden flex items-center justify-center" style="background: #fff;">

    <div>
        <form method="POST" action="" class="m-4 flex">
            <input class="px-10  rounded-l-lg border-t mr-0 border-b border-l text-gray-800 border-gray-200 bg-white"
                name="target_url" placeholder="URL" />{% csrf_token %}
            <input type="submit"
                class="px-7 rounded-r-lg bg-white-400  text-gray-800 font-bold p-4 uppercase border-black-100 border-l border-t border-b border-r"
                value="SUBMIT">
        </form>

        <p style="text-align: center;" text-gray-800 font-size:10px;>
            {% if shorten_url %}
            Here is your cutdown URL &#x1F600;<br> <br>
            <a href={{ shorten_url }}> &#128073; {{ shorten_url }}</a>

            {% elif message %}
            {{ message|safe }}

            {%else%}
            {% endif %}
        </p>
    </div>
</body>

</html>